<div class="card bg-dark text-white">
    <img src="../../../../assets/images/header.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title"> C I A O</h5>
      <p class="card-text">A good soul,mind, and heart makes you look beauty, not a cosmetic</p>
      <button type="button" class="btn btn-dark">Shop Now</button>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="fruit">
          <div class="cat-bg">
            <button type="button" class="btn btn-dark">Shop Fruits</button>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="flower">
          <div class="cat-bg">
            <button type="button" class="btn btn-dark">Shop Flowers</button>
          </div>
        </div>
    </div>
</div>

<div class="product-container">
  <div class="product-title">
    Our Best Products
  </div>
  <div class="container">
  <div class="row my-1">
    <div class="text-center col-4">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/images/product.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Soap</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="text-center col-4">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/images/product.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Soap</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="text-center col-4">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/images/product.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Soap</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

</div>
</div>
</div>


